*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 100px;
    z-index: 10;
    background: #5b639c;
}
header .logo{
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
header .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .navigation li
{
list-style: none;
margin: 0 10px;

}
header .navigation li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;


}
header .navigation li a:hover{
    color: #ffeb3b;
}
header .search{
    position: relative;
    width: 300px;
    height: 40px;
}
header .search input{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    outline: none;
    border: 1px solid #fff;    
    border-radius: 4px;                                                         
}
header .search input::placeholder{
    color: #fff;


}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3 rem 0;
}
.socials li{
    margin: 0 10px;

}
.socials a{
    text-decoration: none;
    color:#fff;
}
.socials a li{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;


}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;

}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;

}
