body{
    margin:0;
    font-family: system-ui;
}

.parallax{
    background-image: url('https://images.pexels.com/photos/5632388/pexels-photo-5632388.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.page-title{
    background: rgba(0,0,0,0.5 );
    text-align: center;
    color: rgb(95, 182, 23);
    padding: 80px;
    font-variant:small-caps ;
    font-family: fantasy;
    font-size: 70px;
}
#sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.menu{
    background: #184d47;
    text-align: center;
}
.menu-ul{
    margin: 0;
    padding: 0;
    display: inline;

}
.menu-ul li{
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 26px 25px;
}
.a.menu{
    text-decoration: none;
    color: white;
}
.menu-ul li:hover{
    background: #5b8c5a;
    transform: scale(1.1);
}
.search-box{
    border:1px solid rgb(61, 23, 23);
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 8px;
}
.search-box:hover{
    box-shadow: 0 0 10px 2px #5b8c5a;
    border: 1px solid #5b8c5a;
}


.search-input{
    width:250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 15px 0 0 10px;
}

i{
    font-size: 20px;
    margin:0 10px 0 0;

}
button{
    background: transparent;
    border: none;
    outline: none;
}