body{
    margin:0;
    font-family: system-ui;
    background-color: #073a34;
}

.parallax{
    background-image: url('https://images.pexels.com/photos/5632388/pexels-photo-5632388.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.page-title{
    background: rgba(0,0,0,0.5 );
    text-align: center;
    color: rgb(106, 233, 2);
    padding: 76px;
    font-variant:small-caps ;
    font-family: fantasy;
    font-size: 70px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.menu{
    background: #52b975;
    text-align: center;
    color:black;
}
.menu-ul{
    margin: 0;
    padding: 0;
    display: inline;
    font-family: sans-serif;
    color: black;
}
.menu-ul li{
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 25px 25px;
    color: black;
}
.a.menu{
    text-decoration: none;
    color:black;
}
.menu-ul li:hover{
    background: #325232;
    transform: scale(1.1);
}

i{
    font-size: 20px;
    margin:0 10px 0 0;

}
button{
    background: transparent;
    border: none;
    outline: none;
}
.categories{
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
    
    
}
.categories{
    width:max-content;
    border: 25px;
    margin: 58px;
    border: 2px solid #073a34;
    border-radius:0 0 25px 25px;
    display: inline-block;
    padding: 5px;
    color: black;
    
}
.categories:hover{
    box-shadow: 0 0 10px 3px #184d47;
}
.item.image{
    height: 200px;
    width: 200px;
    border-radius:0 0 50px 50px;
    padding: 20px;
    
}
.image-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.in{
    width: 100%;
    height: 100%;
    display: flex;
  

}
.im{
    border: 1px solid black;
    width: 100px;

}